<div class="center hero-unit">
	<h1>Welcome to Random Life</h1>
	
	<h2>
		This is the Home page for Random Life, a social 
		networking experience based around the idea of
		random communication and connections
	</h2>
	
	<%= link_to "Sign up now!", signup_path,
								class: "btn btn-large btn-primary" %>
</div>